backend/node_modules/
backend/.env
frontend/node_modules/
frontend/.env
backend/src/config.js
frontend/src/config.js

backend/src/public/scripts/app.*.js
backend/src/public/scripts/vendor.*.js
backend/src/build/
backend/src/webpack.assets.json
backend/config/.env
backend/config/.env
backend/config/.env

backend/.DS_Store
frontend/.DS_Store

*.log
