{% include "common/header.html" %}
{% block content %}

<div class="jumbotron text-center">
    <h1>
        <span class="fa fa-lock"></span> Jump in </h1>

    <!-- <a href="{{APP_URL}}/signup" class="btn btn-default">
        <span class="fa fa-user"></span> Local Signup</a>
    -->
    <a href="{{APP_URL}}/auth/facebook?apto={{IN_OPTIONS.apto}}&apid={{IN_OPTIONS.apid}}" class="btn btn-primary">
        <span class="fa fa-facebook"></span> Facebook</a>
    <a href="{{APP_URL}}/auth/twitter?apto={{IN_OPTIONS.apto}}&apid={{IN_OPTIONS.apid}}" class="btn btn-info">
        <span class="fa fa-twitter"></span> Twitter</a> 
    <a href="{{APP_URL}}/auth/google?apto={{IN_OPTIONS.apto}}&apid={{IN_OPTIONS.apid}}" class="btn btn-danger">
        <span class="fa fa-google-plus"></span> Google+</a>
    <a href="{{APP_URL}}/auth/github?apto={{IN_OPTIONS.apto}}&apid={{IN_OPTIONS.apid}}" class="btn btn-secondary">
        <span class="fa fa-github"></span> Github </a>
</div>


    
{% endblock %}
{% include "common/footer.html" %}
